<div id="header">
  <div id="sr-header-area">
    <div>

    <div class="dropdown srdrop">
      <span class="selected title">my subreddits</span>
    </div>

    <ul class="flat-list sr-bar">
      <li class="<%= "selected" if request.original_url == root_url(params) %>">
        <%= link_to "front", root_url %> -
      </li>
      <li class="<%= "selected" if request.original_url == all_url(params) %>">
        <%= link_to "all", all_url %> -
      </li>
      <li class="<%= "selected" if request.original_url == random_url(params) %>">
        <%= link_to "random", random_url %>
      </li>
    </ul>|

    <ul class="flat-list sr-bar">
      <li class="<%= "selected" if params[:sub] == "funny" %>">
        <%= link_to "funny", root_url(sub: "funny") %> -</li>
      <li class="<%= "selected" if params[:sub] == "aww" %>">
        <%= link_to "aww", root_url(sub: "aww") %> -</li>
      <li class="<%= "selected" if params[:sub] == "pics" %>">
        <%= link_to "pics", root_url(sub: "pics") %> -</li>
      <li class="<%= "selected" if params[:sub] == "AskReddit" %>">
        <%= link_to "AskReddit", root_url(sub: "AskReddit") %></li>
    </ul>

    </div>
  </div>

  <div id="header-bottom-left">
    <%= image_tag("logo.png") %>
    <ul class="tabmenu ">
      <li class="<%= "selected" if request.original_url == root_url(params) %>">
      <%= link_to "hot", root_url %>
      </li>
      <li class="<%= "selected" if request.fullpath[0..3] == "/new" %>">
        <%= link_to "new", new_url %>
      </li>
      <li class="<%= "selected" if request.fullpath[0..6] == "/rising" %>">
        <%= link_to "rising", rising_url %>
      </li>
    </ul>
  </div>

  <div id="header-bottom-right">
    <% if current_user %>
        <%= link_to current_user.username, user_url(current_user) %> |
        <%= link_to "messages (0)", "#", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "messages system is a todo" %> |
        <%= link_to "preferences", "#" %> |
        <%= link_to "logout", session_url(url: request.original_url), method: :delete %>
      <% else %>
      want to join?
      <%= link_to "login", "#", "data-toggle" => "modal",
      "data-target" => ".login-modal", class: "modal-time" %> or
      <%= link_to "register", "#", "data-toggle" => "modal",
      "data-target" => ".login-modal" %> in seconds
    <% end %>
  </div>
</div>