<div id="header">
  <div id="sr-header-area">
    <div>

    <div class="dropdown srdrop">
      <span class="selected title">my subreddits</span>
    </div>

    <ul class="flat-list sr-bar">
      <li class="selected"><%= link_to "front", root_url %> -</li>
      <li><%= link_to "all", root_url %> -</li>
      <li><%= link_to "random", root_url %></li>
    </ul>|

    <ul class="flat-list sr-bar">
      <li><%= link_to "funny", "#" %> -</li>
      <li><%= link_to "awww", "#" %> -</li>
      <li><%= link_to "pics", "#" %> -</li>
      <li><%= link_to "AskReddit", "#" %></li>
    </ul>

    </div>
  </div>

  <div id="header-bottom-left">
    <%= image_tag("logo.png") %>
    <ul class="tabmenu ">
      <li class="selected"><%= link_to "hot", "#" %></li>
      <li><%= link_to "new", "#" %></li>
      <li><%= link_to "rising", "#" %></li>
    </ul>
  </div>

  <div id="header-bottom-right">
    <% if current_user %>
        <%= link_to current_user.username, user_url(current_user) %> |
        <%= link_to "messages (0)", "#", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "messages system is a todo" %> |
        <%= link_to "preferences", "#" %> |
        <%= link_to "logout", session_url, method: :delete %>
      <% else %>
      want to join?
      <%= link_to "login", "#", "data-toggle" => "modal",
      "data-target" => ".login-modal", class: "modal-time" %> or
      <%= link_to "register", "#", "data-toggle" => "modal",
      "data-target" => ".login-modal" %> in seconds
    <% end %>
  </div>
</div>