<div class="link" id="post-<%= post.id %>">

  <!-- rank -->
  <span class="rank">
    <%= ( @count + idx + 1 ) if @count %>
  </span>

  <!-- voting -->
  <div class="midcol">
    <a href="<%= upvote_post_url(action: :upvote, id: post.id) %>"
      class="upvote">
    <span class='glyphicon glyphicon-arrow-up' style='color:grey'></span>
    </a>

    <div class="score"><%= post.votes.sum(:value) %></div>

    <a href="<%= downvote_post_url(action: :downvote, id: post.id) %>"
      class="downvote">
    <span class='glyphicon glyphicon-arrow-down' style='color:grey'></span>
    </a>
  </div>
  <!-- js voting action -->
  <script>

  </script>

  <!-- img logic -->
  <% if post.url.include?(".jpg") || post.url.include?(".gif") %>
    <%= link_to image_tag(post.url), post.url, class: "thumbnail" %>
  <% else %>
    <%= link_to image_tag("no_img.gif", size: "100x100"),
     post_comments_url(post), class: "thumbnail" %>
  <% end %>

  <!-- title/url logic -->
  <div class="entry">
    <p class="title">
    <% if post.url != "" %>
      <%= link_to post.title, post.url %>
    <% else %>
      <%= link_to post.title, post_url(post) %>
    <% end %>

    <span class="domain">
      (<%= post.url != "" ? post.url.split('/')[2] : "self" %>)
    </span>
    </p>

    <!-- time/owner logic -->
    <p class="tagline">submitted
      <%= time_ago( post.created_at ) %> by
      <%= link_to post.user.username, user_url(post.user) %>
      to <a href="#">/r/sub</a><!-- I don't have subs yet -->
    </p>

    <!-- body logic -->
    <% if post.body && request.original_url.include?("comments") %>
    <div class="usertext usertext-body md">
      <div class="md">
        <p><%= post.body %></p>
      </div>
    </div>
    <% end %>

    <!-- buttons logic -->
    <ul class="buttons">
    <li>
      <%= link_to " #{post.comments.length} comments ",
       post_comments_url(post) %>
    </li>

    <li><%= link_to "share", "#" %></li>

    <li><%= link_to "save", "#" %></li>

    <li>
      <!-- jquery hide -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-hide-#{ post.id }').click(function(){
          $('#post-#{post.id}').fadeOut('slow');
        });
      });" %><!-- jquery hide end -->
      <a href="#" id="link-hide-<%= post.id %>">hide</a>
    </li>

    <li>
      <!-- jquery report -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-report-#{ post.id }').click(function(){
          alert('post id #{post.id} has been report to Admins');
        });
      });" %><!-- end of jquery report -->
      <a href="#" id="link-report-<%= post.id %>">report</a>
    </li>

    <% if current_user == post.user %>
    <li>
      <%= link_to "delete", post_url(post), method: :delete %>
    </li>
    <% end %>
    </ul>
  </div><!-- end of div class entry -->

  <div class="clearleft"></div>

</div>