<div class="link" id="post-<%= post.id %>">

  <!-- rank -->
  <span class="rank">
    <%= ( @count + idx + 1 ) if @count %>
  </span>

<!-- voting color selection -->
<% if current_user && !!Vote.find_by_user_id_and_post_id( current_user.id, post.id) %>
<% vote = Vote.find_by_user_id_and_post_id( current_user.id, post.id) %>
  <% if vote.value == 0 %>
    <% voteup_color = "color:grey" %>
    <% score_color = "color:grey"%>
    <% votedown_color = "color:grey" %>
  <% elsif vote.value == -1 %>
    <% voteup_color = "color:grey" %>
    <% score_color = "color:purple"%>
    <% votedown_color = "color:purple" %>
  <% else%>
    <% voteup_color = "color:orange" %>
    <% score_color = "color:orange"%>
    <% votedown_color = "color:grey" %>
  <% end %>
<% else %>
  <% voteup_color = "color:grey" %>
  <% score_color = "color:grey"%>
  <% votedown_color = "color:grey" %>
<% end %>

  <!-- voting rendering | it's a mess -->
  <div class="midcol">
    <%= link_to "<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='#{voteup_color}; font-size: 20px'></span>".html_safe, "", class: "upvote", id: "upvote-#{post.id}" %>
    <div id="score-<%= post.id %>" style="<%= score_color %>" class="score">
      <%= post.votes.sum(:value) %>
    </div>
    <%= link_to "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='#{votedown_color}; font-size: 20px'></span>".html_safe, "", class: "downvote", id: "downvote-#{post.id}" %>
  </div>
  <!-- ajax magic for voting -->
  <% if current_user %>
  <script>
  $( "#upvote-<%= post.id %>" ).click(function() {
  event.preventDefault();

  $.ajax({
    url: "<%= upvote_post_url(action: :upvote, id: post.id) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comments_url(post) %>.json",
        type: "GET",
        success: function (data) {
          var oldScore = parseInt($("#score-<%= post.id %>").text());
          var score = data.score;
          $("#score-<%= post.id %>").text(score);
          if (score > oldScore) {
            $("#upvote-gly-<%= post.id %>").css( "color", "orange" );
            $("#score-<%= post.id %>").css( "color", "orange" );
            $("#downvote-gly-<%= post.id %>").css( "color", "grey" );
          } else {
            $("#upvote-gly-<%= post.id %>").css( "color", "grey" );
            $("#score-<%= post.id %>").css( "color", "grey" );
            $("#downvote-gly-<%= post.id %>").css( "color", "grey" );
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of upvote ajax

  //downvote ajax
  $( "#downvote-<%= post.id %>" ).click(function() {
    event.preventDefault();

  $.ajax({
    url: "<%= downvote_post_url(action: :downvote, id: post.id) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comments_url(post) %>.json",
        type: "GET",
        success: function (data) {
          var oldScore = parseInt($("#score-<%= post.id %>").text());
          var score = data.score;
          $("#score-<%= post.id %>").text(score);
          if (score > oldScore) {
            $("#upvote-gly-<%= post.id %>").css( "color", "grey" );
            $("#score-<%= post.id %>").css( "color", "grey" );
            $("#downvote-gly-<%= post.id %>").css( "color", "grey" );
          } else {
            $("#upvote-gly-<%= post.id %>").css( "color", "grey" );
            $("#score-<%= post.id %>").css( "color", "purple" );
            $("#downvote-gly-<%= post.id %>").css( "color", "purple" );
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of downvote ajax
  </script>
  <% end %>

  <!-- img logic -->
  <% if post.url.include?(".jpg") || post.url.include?(".gif") %>
    <%= link_to image_tag(post.url), post.url, class: "thumbnail" %>
  <% else %>
    <%= link_to image_tag("no_img.gif", size: "100x100"),
     post_comments_url(post), class: "thumbnail" %>
  <% end %>

  <!-- title/url logic -->
  <div class="entry">
    <p class="title">
    <% if post.url != "" %>
      <%= link_to post.title, post.url %>
    <% else %>
      <%= link_to post.title, post_url(post) %>
    <% end %>

    <span class="domain">
      (<%= post.url != "" ? post.url.split('/')[2] : "self" %>)
    </span>
    </p>

    <!-- time/owner logic -->
    <p class="tagline">submitted
      <%= time_ago( post.created_at ) %> by
      <%= link_to post.user.username, user_url(post.user) %>
      to <a href="#">/r/sub</a><!-- I don't have subs yet -->
    </p>

    <!-- body logic -->
    <% if post.body && request.original_url.include?("comments") %>
    <div class="usertext usertext-body md">
      <div class="md">
        <p><%= post.body %></p>
      </div>
    </div>
    <% end %>

    <!-- buttons logic -->
    <ul class="buttons">
    <li>
      <%= link_to " #{post.comments.length} comments ",
       post_comments_url(post) %>
    </li>

    <li>
      <%= link_to "share", "#", class: "share-#{post.id} share" %>
      <% if current_user %>
      <%= javascript_tag "  $(document).ready(function(){
        $('.share-#{post.id.to_s}').click(function(){
          $('##{post.id}-share-form').show('slow');
        });
      });" %><!-- jquery reply end -->
      <% end %>
    </li>


    <li>
      <%= link_to "save", "#", class: "link-save-#{post.id} save" %>
      <!-- jquery hide -->
      <% if current_user %>
      <%= javascript_tag "  $(document).ready(function(){
        $('.link-save-#{post.id}').click(function(){
          if ($('.link-save-#{post.id}').text() === 'save' ){
            $('.link-save-#{post.id}').text('unsave');
          } else {
            $('.link-save-#{post.id}').text('save');
          }
        });
      });" %><!-- jquery hide end -->
      <% end %>
    </li>

    <li>
      <!-- jquery hide -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-hide-#{ post.id }').click(function(){
          $('#post-#{post.id}').fadeOut('slow');
        });
      });" %><!-- jquery hide end -->
      <a href="#" id="link-hide-<%= post.id %>">hide</a>
    </li>

    <li>
      <!-- jquery report -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-report-#{ post.id }').click(function(){
          alert('post id #{post.id} has been report to Admins');
        });
      });" %><!-- end of jquery report -->
      <a href="#" id="link-report-<%= post.id %>">report</a>
    </li>

    <% if current_user == post.user %>
    <li>
      <%= link_to "delete", post_url(post), method: :delete %>
    </li>
    <% end %>
    </ul>
  </div><!-- end of div class entry -->


  <div class="child" id="<%= post.id %>-child">

    <form id="<%= post.id %>-share-form" action="#"
       method="" class="usertext cloneable" style="display: none;">
      <div class="usertext-edit">
        <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

        <textarea placeholder="email@example.com"
        name="comment[body]"></textarea>

        <button type="submit">share</button>
        <button id="disa-<%= post.id %>" type="reset">cancel</button>
        <!-- jquery reply -->
        <%= javascript_tag "  $(document).ready(function(){
          $('#disa-#{post.id}').click(function(){
            $('##{post.id}-share-form').slideUp('slow');;
          });
        });" %><!-- jquery reply end -->
      </div>
    </form>

  </div><!-- end of child comment -->

  <div class="clearleft"></div>

</div>