<div class="link" style="opacity:0.8" id="post-<%= post.id %>">
<script>
$( "#post-<%= post.id %>" ).hover(
  function() { $( this ).css( "opacity", "1.0" ); },
  function() { $( this ).css( "opacity", "0.8" ); }
);
</script>

  <!-- rank -->
  <span class="rank">
    <%= ( @count + idx + 1 ) if @count %>
  </span>

<!-- voting color selection -->
<% if current_user && !!Vote.find_by_user_id_and_post_id( current_user.id, post.id) %>
<% vote = Vote.find_by_user_id_and_post_id( current_user.id, post.id) %>
  <% if vote.value == 0 %>
    <% voteup_color = "grey" %>
    <% score_color = "color:lightgrey"%>
    <% votedown_color = "grey" %>
  <% elsif vote.value == -1 %>
    <% voteup_color = "grey" %>
    <% score_color = "color:purple"%>
    <% votedown_color = "purple" %>
  <% else%>
    <% voteup_color = "orange" %>
    <% score_color = "color:orange"%>
    <% votedown_color = "grey" %>
  <% end %>
<% else %>
  <% voteup_color = "grey" %>
  <% score_color = "color:lightgrey"%>
  <% votedown_color = "grey" %>
<% end %>

  <!-- voting rendering | it's a mess -->
  <div class="midcol">
    <%= link_to "<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(#{voteup_color},white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>".html_safe, "", class: "upvote", id: "upvote-#{post.id}" %>
    <div id="score-<%= post.id %>" style="<%= score_color %>; font-size: 16px" class="score">
      <%= post.votes.sum(:value) %>
    </div>
    <%= link_to "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white,#{votedown_color}); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>".html_safe, "", class: "downvote", id: "downvote-#{post.id}" %>
  </div>
  <!-- ajax magic for voting -->

  <% if current_user %>
  <script>
  $( "#upvote-<%= post.id %>" ).click(function() {
  event.preventDefault();

  $.ajax({
    url: "<%= upvote_post_url(action: :upvote, id: post.id) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comments_url(post) %>.json",
        type: "GET",
        success: function (data) {
          var oldScore = parseInt($("#score-<%= post.id %>").text());
          var score = data.score;
          $("#score-<%= post.id %>").text(score);
          if (score > oldScore) {
            $("#upvote-<%= post.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(orange,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>");
            $("#score-<%= post.id %>").css( "color", "orange" );
            $("#downvote-<%= post.id %>").html( "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>" );
          } else {
            $("#upvote-<%= post.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>");
            $("#score-<%= post.id %>").css( "color", "lightgrey" );
            $("#downvote-<%= post.id %>").html( "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>" );
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of upvote ajax

  //downvote ajax
  $( "#downvote-<%= post.id %>" ).click(function() {
    event.preventDefault();

  $.ajax({
    url: "<%= downvote_post_url(action: :downvote, id: post.id) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comments_url(post) %>.json",
        type: "GET",
        success: function (data) {
          var oldScore = parseInt($("#score-<%= post.id %>").text());
          var score = data.score;
          $("#score-<%= post.id %>").text(score);
          if (score > oldScore) {
            $("#upvote-<%= post.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>");
            $("#score-<%= post.id %>").css( "color", "lightgrey" );
            $("#downvote-<%= post.id %>").html( "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>" );
          } else {
            $("#upvote-<%= post.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{post.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>");
            $("#score-<%= post.id %>").css( "color", "purple" );
            $("#downvote-<%= post.id %>").html( "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{post.id}' style='background: -webkit-linear-gradient(white,purple); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 24px'></span>" );
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of downvote ajax
  </script>
  <% end %>

  <!-- img logic -->
  <% if post.url.include?(".jpg") || post.url.include?(".gif") %>
    <%= link_to image_tag(post.url), post.url, class: "thumbnail" %>
  <% else %>
    <%= link_to image_tag("no_img.gif", size: "100x100"),
     post_comments_url(post), class: "thumbnail" %>
  <% end %>

  <!-- title/url logic -->
  <div class="entry">
    <p class="title">
    <% if post.url != "" %>
      <%= link_to post.title, post.url %>
    <% else %>
      <%= link_to post.title, post_url(post) %>
    <% end %>

    <span class="domain">
      (<%= post.url != "" ? post.url.split('/')[2] : "self" %>)
    </span>
    </p>

    <!-- time/owner logic -->
    <p class="tagline">submitted
      <%= time_ago( post.created_at ) %> by
      <%= link_to post.user.username, user_url(post.user) %>
      to <a href="#">/r/<%= post.sub %></a><!-- I don't have subs yet -->
    </p>

    <!-- body logic -->
    <% if post.body && request.original_url.include?("comments") %>
    <div class="usertext usertext-body md">
      <div class="md">
        <p><%= post.body %></p>
      </div>
    </div>
    <% end %>

    <!-- buttons logic -->
    <ul class="buttons">
    <li>
      <%= link_to " #{post.comments.length} comments ",
       post_comments_url(post) %>
    </li>

    <li>
      <%= link_to "share", "#", class: "share-#{post.id} share" %>
      <% if current_user %>
      <%= javascript_tag "  $(document).ready(function(){
        event.preventDefault();
        $('.share-#{post.id.to_s}').click(function(){
          if ($('.share-#{post.id.to_s}').text() === 'share') {
            $('##{post.id}-share-form').show('slow');
            $('.share-#{post.id.to_s}').text('cancel');
          } else {
            $('##{post.id}-share-form').slideUp('slow');
            $('.share-#{post.id.to_s}').text('share');
          };
        });
      });" %><!-- jquery reply end -->
      <% end %>
    </li>


    <li>
      <%= link_to "save", "#", class: "link-save-#{post.id} save" %>
      <!-- jquery hide -->
      <% if current_user %>
      <%= javascript_tag "  $(document).ready(function(){
        event.preventDefault();
        $('.link-save-#{post.id}').click(function(){
          if ($('.link-save-#{post.id}').text() === 'save' ){
            $('.link-save-#{post.id}').text('unsave');
          } else {
            $('.link-save-#{post.id}').text('save');
          }
        });
      });" %><!-- jquery hide end -->
      <% end %>
    </li>

    <li>
      <%= link_to "hide", "#", class: "link-hide-#{post.id}" %>
      <!-- jquery hide -->
      <%= javascript_tag "  $(document).ready(function(){
        event.preventDefault();
        $('.link-hide-#{ post.id }').click(function(){
          $('#post-#{post.id}').fadeOut('slow');
        });
      });" %><!-- jquery hide end -->
    </li>

    <li>
      <!-- jquery report -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-report-#{ post.id }').click(function(){
          alert('post id #{post.id} has been report to Admins');
        });
      });" %><!-- end of jquery report -->
      <a href="#" id="link-report-<%= post.id %>">report</a>
    </li>

    <% if current_user == post.user %>
    <li>
      <%= link_to "delete", post_url(post), method: :delete %>
    </li>
    <% end %>
    </ul>
  </div><!-- end of div class entry -->


  <div class="child" id="<%= post.id %>-child">

    <form id="<%= post.id %>-share-form" action="#"
       method="" class="usertext cloneable" style="display: none;">
      <br><br>

        <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

        <!-- table start -->
        <table>
        <tr>
          <th>
            <label>send this link to</label><br>
            <span class="little gray">(list of emails)</span>
          </th>
        <!-- - -->
          <td>
          <textarea rows="4" cols="40" name="share_to" placeholder="email@example.com"></textarea>
          </td>
        </tr>

        <tr>
          <th>
          <label>your name</label><br>
          <span class="little gray">(optional)</span>
          </th>
        <!-- - -->
          <td>
          <input value="<%= current_user.username if current_user%>" type="text" size="39" name="share[from]">
          </td>
        </tr>

        <tr>
          <th>
            <label>your email</label><br>
            <span class="little gray">(optional)</span>
          </th>
        <!-- - -->
          <td>
            <input name="share[email]" type="text" size="39">
          </td>
        </tr>

        <tr>
          <th>
          <label>message</label>
          <br>
          <span class="little gray">(optional)</span>
          </th>
        <!-- - -->
          <td>
          <textarea rows="4" cols="40" name="message"></textarea>
          </td>
        </tr>

        <tr><td>
          </td><td>
          <button id="disa-<%= post.id %>-submit" type="submit">share</button>
          <button id="disa-<%= post.id %>" type="reset">cancel</button>
        </td></tr>

        </table>
        <!-- table end -->

        <!-- jquery reply -->
        <%= javascript_tag "  $(document).ready(function(){
          $('#disa-#{post.id}').click(function(){
            $('##{post.id}-share-form').slideUp('slow');;
            $('.share-#{post.id.to_s}').text('share');
          });
          $('#disa-#{post.id}-submit').click(function(){
            event.preventDefault();
            $('##{post.id}-share-form').slideUp('slow');;
            $('.share-#{post.id.to_s}').text('share');
          });
        });" %><!-- jquery reply end -->

    </form>
  </div><!-- end of child comment -->

  <div class="clearleft"></div>

</div>