  <div class="entry">
    <div>
      <p class="tagline">
      <%= link_to "[-]", "#", class: "expand" %>
      <%= link_to comment.user.username, "#userurl", class: "author" %>
      <%= time_ago(comment.created_at) %>
      </p>

      <div class="usertext-body usertext">
        <div class="md">
        <p><%= comment.body %></p>
        </div>
      </div>

      <ul class="flat-list buttons">
        <li><a href="#">permalink</a></li>
        <li><a href="#">save</a></li>
        <li><a href="#">report</a></li>

        <% if current_user %>
        <li>
          <%= link_to "reply",
           new_post_comment_url( parent_id: comment.id ) %>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!-- child div -->
  <div class="child">
    <% comments_by_parent[comment.id].each do |child_comment| %>
      <%= comment_partial(child_comment, comments_by_parent) %>
    <% end %>
  </div><!-- child div end -->