<div id="comment-<%= comment.id %>" style="opacity:0.90">
<script>
$( "#comment-<%= comment.id %>" ).hover(
  function() { $( this ).css( "opacity", "1.0" ); },
  function() { $( this ).css( "opacity", "0.90" ); }
);
</script>

<!-- voting color selection -->
<% if current_user && !!CommentVote.find_by_user_id_and_comment_id( current_user.id, comment.id) %>
<% vote = CommentVote.find_by_user_id_and_comment_id( current_user.id, comment.id) %>
  <% if vote.value == 0 %>
    <% voteup_color = "grey" %>
    <% votedown_color = "grey" %>
  <% elsif vote.value == -1 %>
    <% voteup_color = "grey" %>
    <% votedown_color = "purple" %>
  <% else%>
    <% voteup_color = "orange" %>
    <% votedown_color = "grey" %>
  <% end %>
<% else %>
  <% voteup_color = "grey" %>
  <% votedown_color = "grey" %>
<% end %>

  <!-- voting rendering | it's a mess -->
  <div class="midcol">
    <%= link_to "<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(#{voteup_color},white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>".html_safe, "#", class: "upvote", id: "upvote-comment-#{comment.id}" %>

    <%= link_to "<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(white,#{votedown_color}); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>".html_safe, "#", class: "downvote", id: "downvote-comment-#{comment.id}" %>
  </div>

  <% if current_user %>
  <script>
  $( "#upvote-comment-<%= comment.id %>" ).click(function() {
  event.preventDefault();

  $.ajax({
    url: "<%= upvote_comment_url( id: comment.id ) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comment_url(id: comment.id) %>.json",
        type: "GET",
        success: function (data) {
          //http://localhost:3000/posts/1/comments/1.json
          var oldScore = parseInt($("#comment-score-<%= comment.id %>").text());
          var score = data.score;
          $("#comment-score-<%= comment.id %>").text(score + " ");
          if (score > oldScore) {
            $("#upvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(orange,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
            $("#downvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
          } else {
            $("#upvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
            $("#downvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of upvote ajax

  //downvote ajax
  $( "#downvote-comment-<%= comment.id %>" ).click(function() {
    event.preventDefault();

  $.ajax({
    url: "<%= downvote_comment_url( id: comment.id ) %>",
    type: "GET",
    success: function () {
      $.ajax({
        url: "<%= post_comment_url(id: comment.id ) %>.json",
        type: "GET",
        success: function (data) {
          var oldScore = parseInt($("#comment-score-<%= comment.id %>").text());
          var score = data.score;
          $("#comment-score-<%= comment.id %>").text(score + " ");
          if (score > oldScore) {
            $("#upvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
            $("#downvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(white,grey); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
          } else {
            $("#upvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-up' id='upvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(grey,white); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
            $("#downvote-comment-<%= comment.id %>").html("<span class='glyphicon glyphicon-arrow-down' id='downvote-gly-#{comment.id}' style='background: -webkit-linear-gradient(white,purple); -webkit-background-clip:  text; -webkit-text-fill-color: transparent; font-size: 16px'></span>");
          };
        }
      });//end of nested ajax request
    }
  });

  });//end of downvote ajax
  </script>
  <% end %>







<div class="entry">
  <div>
    <p class="tagline">
    <%= link_to "[-]", "#" + comment.id.to_s + "-slide", id: comment.id.to_s + "-slide" %>
    <%= link_to comment.user.username, "#userurl", class: "author" %>
    <span id="comment-score-<%= comment.id %>">
      <%= "#{comment.votes.sum(:value)} " %>
    </span>points
    <%= time_ago(comment.created_at) %>
    </p>
    <!-- jquery slide hide/unhide -->
    <%= javascript_tag "  $(document).ready(function(){
      $('##{comment.id.to_s}-slide').click(function(){
        if( $('##{comment.id}-body').is(':hidden') ) {
          $('##{comment.id}-slide').text('[-]');
          $('##{comment.id}-body').show('slow');
          $('##{comment.id}-buttons').show('slow');
          $('##{comment.id}-child').show('slow');
        } else {
          $('##{comment.id}-slide').text('[+]');
          $('##{comment.id}-body').slideUp('slow');
          $('##{comment.id}-buttons').slideUp('slow');
          $('##{comment.id}-child').slideUp('slow');
        }
      });
    });" %><!-- jquery slide hide/unhide end -->

    <div class="usertext-body usertext" id="<%= comment.id %>-body">
      <div class="md">
      <p>
        <% if comment.body.include?("[comment deleted by")%>
        <%= "<i style='color:lightgrey'>#{comment.body}</i>".html_safe %>
        <% else%>
        <%= comment.body %>
        <% end %>
      </p>
      </div>
    </div>

    <ul class="flat-list buttons" id="<%= comment.id %>-buttons">
      <li><a href="#">permalink</a></li>

      <li>
        <%= link_to "save", "#", class: "comment-save-#{comment.id} save" %>
        <!-- jquery hide -->
        <% if current_user %>
        <%= javascript_tag "  $(document).ready(function(){
          $('.comment-save-#{comment.id}').click(function(){
            event.preventDefault();
            if ($('.comment-save-#{comment.id}').text() === 'save' ){
              $('.comment-save-#{comment.id}').text('unsave');
            } else {
              $('.comment-save-#{comment.id}').text('save');
            }
          });
        });" %><!-- jquery hide end -->
        <% end %>
      </li>

      <% if comment.parent_id %>
      <li><a href="#<%= comment.parent_id %>-slide">parent</a></li>
      <% end %>

      <li><a href="#">report</a></li>
      <% if current_user && @depth < 15 %>
      <li>
        <%= link_to "reply", "#comment-" + comment.id.to_s,
         id: "comment-" + comment.id.to_s + "-reply" %>
        <!-- jquery reply -->
        <%= javascript_tag "  $(document).ready(function(){
          $('#comment-#{comment.id.to_s}-reply').click(function(){
            $('##{comment.id}-reply-form').show('slow');
          });
        });" %><!-- jquery reply end -->

      </li>
      <% end %>
      <% if current_user == comment.user  && !comment.body.include?("[comment deleted by") %>
      <li>
      <%= link_to "delete",
      post_comment_url(id: comment.id), method: :delete %>
      </li>
      <% end %>

    </ul>
  </div>
</div>

</div><!-- end comment div -->
<!-- child div -->
<div class="child" id="<%= comment.id %>-child">

  <form id="<%= comment.id %>-reply-form" action="<%= post_comments_url %>"
     method="post" class="usertext cloneable" style="display: none;">
    <div class="usertext-edit">
      <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

      <input type="hidden" name="comment[parent_id]"
      value="<%= comment.id %>">

      <textarea placeholder="reply to <%= comment.user.username %>'s comment"
      name="comment[body]"></textarea>

      <button type="submit">save</button>
      <button id="disa-<%= comment.id%>" type="reset">cancel</button>
      <!-- jquery reply -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#disa-#{comment.id}').click(function(){
          $('##{comment.id}-reply-form').slideUp('slow');;
        });
      });" %><!-- jquery reply end -->

    </div>
  </form>

  <% if @depth < 15 %>
    <% comments_by_parent[comment.id].each do |child_comment| %>
      <% @depth += 1 %>
      <%= comment_partial(child_comment, comments_by_parent) %>
      <% @depth -= 1 %>
    <% end %>
  <% end %>
</div><!-- child div end -->
