<!-- recursive commment template -->
<div class="comment-div" id="div-comment-<%=comment.id%>" >
  <%= link_to comment.user.username, user_url(comment.user) %>
  <%=  %>

  <%= time_ago(comment.created_at) %>
  <br>
  <%= "#{comment.body} " %><br>
  <%= link_to "reply",
   new_post_comment_url( parent_id: comment.id ) %>

  <!-- hide jquery logic -->
  <%= javascript_tag "  $(document).ready(function(){
    $('#comment-#{comment.id}-hide').click(function(){
      $('#div-comment-#{comment.id}').fadeOut('slow');
    });
  });" %>
  <a href="#" id="comment-<%= comment.id %>-hide">hide</a>

  <%= link_to "report", '#' %>

  <!-- delete logic if owner -->
  <% if current_user == comment.user %>
    <%= link_to "delete", post_comment_url(id: comment.id), method: :delete %>
  <% end %>
</div>
<br>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li><%= comment_partial(child_comment, comments_by_parent) %></li>
  <% end %>
</ul>