<div class="entry">
  <div>
    <p class="tagline">
    <%= link_to "[-]", "#" + comment.id.to_s + "-slide", id: comment.id.to_s + "-slide" %>
    <%= link_to comment.user.username, "#userurl", class: "author" %>
    <%= time_ago(comment.created_at) %>
    </p>
    <!-- jquery slide hide/unhide -->
    <%= javascript_tag "  $(document).ready(function(){
      $('##{comment.id.to_s}-slide').click(function(){
        if( $('##{comment.id}-body').is(':hidden') ) {
          $('##{comment.id}-slide').text('[-]');
          $('##{comment.id}-body').show('slow');
          $('##{comment.id}-buttons').show('slow');
          $('##{comment.id}-child').show('slow');
        } else {
          $('##{comment.id}-slide').text('[+]');
          $('##{comment.id}-body').slideUp('slow');
          $('##{comment.id}-buttons').slideUp('slow');
          $('##{comment.id}-child').slideUp('slow');
        }
      });
    });" %><!-- jquery slide hide/unhide end -->

    <div class="usertext-body usertext" id="<%= comment.id %>-body">
      <div class="md">
      <p><%= comment.body %></p>
      </div>
    </div>

    <ul class="flat-list buttons" id="<%= comment.id %>-buttons">
      <li><a href="#">permalink</a></li>
      <li><a href="#">save</a></li>
      <li><a href="#">report</a></li>
      <% if current_user && @depth < 15 %>
      <li>
        <%= link_to "reply", "#comment-" + comment.id.to_s,
         id: "comment-" + comment.id.to_s + "-reply" %>
        <!-- jquery reply -->
        <%= javascript_tag "  $(document).ready(function(){
          $('#comment-#{comment.id.to_s}-reply').click(function(){
            $('##{comment.id}-reply-form').show('slow');
          });
        });" %><!-- jquery reply end -->

      </li>
      <% end %>
      <% if current_user == comment.user && comment.child_comments.length == 0 %>
      <li>
      <%= link_to "delete",
      post_comment_url(id: comment.id), method: :delete %>
      </li>
      <% end %>

    </ul>
  </div>
</div>
<!-- child div -->
<div class="child" id="<%= comment.id %>-child">

  <form id="<%= comment.id %>-reply-form" action="<%= post_comments_url %>"
     method="post" class="usertext cloneable" style="display: none;">
    <div class="usertext-edit">
      <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

      <input type="hidden" name="comment[parent_id]"
      value="<%= comment.id %>">

      <textarea placeholder="reply to <%= comment.user.username %>'s comment"
      name="comment[body]"></textarea>

      <button type="submit">save</button>
      <button id="disa-<%= comment.id%>" type="reset">cancel</button>
      <!-- jquery reply -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#disa-#{comment.id}').click(function(){
          $('##{comment.id}-reply-form').slideUp('slow');;
        });
      });" %><!-- jquery reply end -->

    </div>
  </form>

  <% if @depth < 15 %>
    <% comments_by_parent[comment.id].each do |child_comment| %>
      <% @depth += 1 %>
      <%= comment_partial(child_comment, comments_by_parent) %>
      <% @depth -= 1 %>
    <% end %>
  <% end %>
</div><!-- child div end -->