<%= render "static_pages/post", post: @post, idx: 0 %>

<!-- Comment Area -->
<div class="commentarea">

<div class="panestack-title">
<span class="title">all <%= @post.comments.length %> comments</span>
</div>

<!-- comment menu -->
<div class="menuarea">
  <div class="spacer">
    sorted by:

    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        <% unless params[:sort_type]%>
        best
        <% else %>
        <%= params[:sort_type] == "newest" ? "new" : "old" %>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to("best", post_comments_url )%>
        </li>

        <li>
          <%= link_to("old", post_comments_url(sort_type: "oldest") )%>
        </li>

        <li>
          <%= link_to("new", post_comments_url(sort_type: "newest") )%>
        </li>
      </ul>
    </div>

  </div><!-- end of spacer -->
  <div class="spacer"></div>
</div>

<!-- new parent comment form -->
<% if current_user %>
<form action="<%= post_comments_url %>" method="post"
  class="usertext cloneable">
  <div class="usertext-edit">
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <textarea placeholder="Add Comment"
     name="comment[body]"></textarea>
    <button type="submit">save</button>
  </div>
</form>
<% end %>

<!-- Nested Comments -->
<div class="sitetable nestedlisting">
  <% comments_by_parent = @post.comments_by_parent(params[:sort_type]) %>

  <% comments_by_parent[nil].each do |top_level_comments| %>

    <% @depth = 0 %>
    <div class="comment">
       <%= comment_partial(top_level_comments, comments_by_parent) %>
    </div>

  <% end %>
</div><!-- nestedlisting div end -->

</div><!-- end of commentarea div -->