<h1>Post Show</h1>

<h1><%= @post.title %></h1>

  <!-- net upvote/downvote -->
  <button>upvote</button>
  <%= @post.value %>
  <button>downvote</button>

  <!-- image logic -->
  <% if @post.url.include?(".jpg") || @post.url.include?(".gif")  %>
    <img src="<%= @post.url %>" height="100" width="100">
  <% else %>
    <%= image_tag("no_img.gif", size: "100x100") %>
  <% end %>

  <!-- link logic -->
  <% if @post.url != "" %>
    <%= link_to @post.title, @post.url %>
    (<%= @post.url.split('/')[2] %>)
  <% else %>
      <%= link_to @post.title, post_url(post) %>
  <% end %>

  <!-- time logic -->
  <% hours = (Time.now.to_i - @post.created_at.to_i) / 3600 %>
  <%= " Submited #{hours} hours ago " %>

  <!-- owner logic -->
  <%= " by #{@post.user.username}" %>

<!-- end of post display -->
<br>
<h3>Body: </h3><%= @post.body %>

<h3>Comments: </h3>

<%= link_to "New Comment", new_post_comment_url %>
<br><br>

<!-- recursive comments -->
<ul>
  <% comments_by_parent = @post.comments_by_parent %>
  <% comments_by_parent[nil].each do |top_level_comments| %>
    <li>
      <%= comment_partial(top_level_comments, comments_by_parent) %>
    </li>
  <% end %>
</ul>