<h1>Post Index</h1>

<br>

<!-- todo: sort by votes -->
<% @posts.each do |post| %>

  <!-- net upvote/downvote display -->
  <button>upvote</button>
  <%= post.value %>
  <button>downvote</button>

  <!-- image logic -->
  <% if post.url.include?(".jpg") || post.url.include?(".gif")  %>
    <img src="<%= post.url %>" height="100" width="100">
  <% else %>
    <%= image_tag("no_img.gif", size: "100x100") %>
  <% end %>

  <!-- link logic -->
  <% if post.url != "" %>
    <%= link_to post.title, post.url %>
    (<%= post.url.split('/')[2] %>)
  <% else %>
      <%= link_to post.title, post_url(post) %>
  <% end %>
  <br>

  <!-- time logic -->
  <% hours = (Time.now.to_i - post.created_at.to_i) / 3600 %>
  <%= " Submited #{hours} hours ago " %>

  <!-- owner logic -->
  <%= " by #{post.user.username}" %>

  <!-- Comments Link -->
  <%= link_to "Comments", post_comments_url(post)  %>

  <br><br><br>

<% end %>

