<h3>Post Index</h3>

<% @posts.each_with_index do |post, idx| %>


  <div class=" thing odd link " id="post-<%= post.id %>">

  <span class="rank"><%= ( @count + idx + 1 ) %></span>

  <div class="midcol unvoted"><!-- voting div -->
    <!-- upvote button -->
    <%= button_to "+", upvote_post_url(action: :upvote, id: post.id) %>
    <div class="score unvoted"><%= post.votes.sum(:value) %></div>
    <%= button_to "-", downvote_post_url(action: :downvote, id: post.id) %>
    <!-- downvote button -->
  </div>

  <% if post.url.include?(".jpg") || post.url.include?(".gif")  %>
      <a class="thumbnail may-blank loggedin" href="<%= post.url %>">
      <%= image_tag( post.url ) %>
    <% else %>
      <a class="thumbnail may-blank loggedin" href="#">
      <%= image_tag("no_img.gif") %>
    <% end %>
  </a>

  <div class="entry unvoted">
    <p class="title">
    <% if post.url != "" %>
    <%= link_to post.title, post.url, class: "title may-blank loggedin"%>
    <% else %>
    <%= link_to post.title, post_url(post), class: "title may-blank loggedin"%>
    <% end %>

    <span class="domain">
      (<%= post.url != "" ? post.url.split('/')[2] : "self" %>)
    </span></p>

    <p class="tagline">submitted <time class="live-timestamp">
      <% hours = (Time.now.to_i - post.created_at.to_i) / 3600 %>
      <%= " #{hours} hours ago by" %></time>
      <a href="#" class="author may-blank">
        <%= link_to post.user.username, user_url(post.user) %></a>

    <span class="userattrs">
    </span> to <a href="#" class="subreddit hover may-blank">/r/sub</a></p>

    <ul class="flat-list buttons">
    <li class="first">

      <%= link_to " #{post.comments.length} comments ",
       post_comments_url(post),  class: "comments may-blank"  %>
    </li>

    <li class="share">
      <a href="#">share</a>
    </li>

    <li class="link-save-button save-button">
      <a href="#">save</a>
    </li>

    <li><!-- jquery hide -->
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-hide-#{ post.id }').click(function(){
          $('#post-#{post.id}').fadeOut('slow');
        });
      });" %>
      <!-- jquery link to fadeout -->
      <a href="#" class="state-button hide-button" id="link-hide-<%= post.id %>">
      hide</a>
    </li>

    <li>
      <%= javascript_tag "  $(document).ready(function(){
        $('#link-report-#{ post.id }').click(function(){
          alert('Post has been report to Admins');
        });
      });" %>
      <a href="#" class="toggle report-button"
       id="link-report-<%= post.id %>">report</a>
    </li>
    </ul>
  </div>

  <div class="clearleft"></div>

  </div>

<% end %>

<!-- Next & Prev link pagation logic -->
<!-- generates links like localhost:3000/?count=5 -->
<%= link_to_if(@count && @count - @pagesize >= 0 ,
 "< Prev ", root_url(count: (@count - @pagesize)) ) %>
<%= link_to_if( @total > @count + @pagesize,
 " Next >", root_url(count: @count + @pagesize) )%>