<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "static_pages/header" %>

<div class="row">

  <div class="col-sm-1">
    <!-- padding the left side -->
  </div>

  <div class="col-sm-8">
    <%= render "static_pages/errors" %>
    <%= yield %>
  </div>

  <div class="col-sm-3">
    <%= render "static_pages/side" %>
  </div>

</div>

<%= render "static_pages/footer" %>

<script>
console.log("+-------------------------------+")
console.log("|  Welcome to reddit-clone.com  |")
console.log("|     Coded by Chris Cowell     |")
console.log("|      cell: 614-370-9978       |")
console.log("|       github: cowell21        |")
console.log("+-------------------------------+")
</script>

</body>
</html>
