<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "static_pages/modal" unless current_user %>

<%= render "static_pages/header" %>

<div class="row">

  <div class="col-sm-1">
    <!-- padding the left side -->
  </div>

  <div class="col-sm-7">
    <%= render "static_pages/errors" %>
    <br>
    <%= yield %>
  </div>

  <div class="col-sm-4">
    <%= render "static_pages/side" %>
  </div>

</div>

<%= render "static_pages/footer" %>

</body>
</html>