<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51282710-1', 'reddit-clone.com');
    ga('send', 'pageview');

  </script>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  <%= current_user.username %>
  <%= link_to "Sign Out", session_url, method: :delete %>
  <%= link_to "Make New Post", new_post_url  %>
  <% else %>
  want to join?
  <%= link_to "login", new_session_url %> or
  <%= link_to "register", new_user_url %> in seconds
<% end %>
<br><br>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<%= yield %>

</body>
</html>
